.bold{
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #17a2b8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e7384; 
}

.image-box{
  height:400px;
  border:1px solid black;
  overflow-y:scroll;
}